<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>

    <div class="about content">
      <h2>About Us</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis quis
        voluptas dolorum, maxime sint corrupti dolorem explicabo cum harum
        similique vero autem ullam aut magnam excepturi? Necessitatibus debitis,
        voluptate neque cum eligendi nulla quaerat ipsam culpa obcaecati.
        Explicabo temporibus sequi facilis quasi exercitationem, necessitatibus
        optio molestias quisquam repudiandae illo, odio saepe dolor! Sit esse
        fugiat doloremque voluptatem ad nisi quidem.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis quis
        voluptas dolorum, maxime sint corrupti dolorem explicabo cum harum
        similique vero autem ullam aut magnam excepturi? Necessitatibus debitis,
        voluptate neque cum eligendi nulla quaerat ipsam culpa obcaecati.
        Explicabo temporibus sequi facilis quasi exercitationem, necessitatibus
        optio molestias quisquam repudiandae illo, odio saepe dolor! Sit esse
        fugiat doloremque voluptatem ad nisi quidem.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis quis
        voluptas dolorum, maxime sint corrupti dolorem explicabo cum harum
        similique vero autem ullam aut magnam excepturi? Necessitatibus debitis,
        voluptate neque cum eligendi nulla quaerat ipsam culpa obcaecati.
        Explicabo temporibus sequi facilis quasi exercitationem, necessitatibus
        optio molestias quisquam repudiandae illo, odio saepe dolor! Sit esse
        fugiat doloremque voluptatem ad nisi quidem.
      </p>
    </div>
  </body>
  <%- include("./partials/footer.ejs") %>
</html>
